*{
	box-sizing: border-box;
}

body{
	font-family: sans-serif;
	background-image: url(../images/bg-body.png);
	margin: 0;
}

ul, ol{
	margin: 0;
	padding: 0;
	list-style: none;
}

a{
	text-decoration: none;
}

img{
	width: 100%;
}

.banner, .main-nav{
	display: none;
}

.container{
	margin: 0 15px;
}

.logo{
	display: block;
	max-width: 180px;
	margin: 15px auto 30px;
	border-radius: 50%;
	border: solid 1px #000;
}

.toggle-nav{
	display: block;
	margin: 0 auto 15px;
	background-color: #222;
	width: 45px;
	text-align: center;
	padding: 15px 0;
	color: #fff;
	font-size: 1.2em;
}

.main-nav a{
	display: block;
	background-color: #222;
	color: #FFF;
	font-size: 1.4em;
	text-align: center;
	padding: 15px;
	border-bottom: solid 3px rgba(255,255,255,0.5)
}

.product a{
	background-color: #222;
	color: #fff;
	display: inline-block;
	padding: 15px;
	margin-bottom: 30px;
}

.main-footer a {
	display: block;
	background-color: #ec2d2d;
	color: #fff;
padding: 15px 25px;
border-bottom: solid 1px #ffffff;
text-transform: uppercase;
}

/*media */

@media (min-width: 700px){
	.container{
		margin-left: auto;
		margin-right: auto;
		max-width: 1200px;
	}

	.toggle-nav {
		display: none;
	}
	.main-nav {
		display: block !important;
		margin-bottom: 40px;
		overflow: hidden;

	}

	.main-nav li{
		width: 15%;
		margin: 0 0.83%;
		/*display: inline-block;*/
		float: left;
	}
	.main-nav a{
		padding-left: 0;
		padding-right: 0;
		font-size: 1.2em;
		border: none;
	}
	.banner {
		display: block;
		margin-left: 0.83%;
		margin-right: 0.83%;
	}


.vip-products {
overflow: hidden;

}
	.product{

		width: 48.34%;
		margin-top: 40px;
		margin-left: 0.83%;
		margin-right: 0.83%;
		float: left;
	}
}
@media (min-width: 1200px){
	.container{
		margin-left: auto;
		margin-right: auto;
		/*max-width: 1200px*/
	}
	.vip-products {
	overflow: hidden;


	}
	.product{

		width: 31.66%;
		margin-top: 40px;
		margin-left: 0.83%;
		margin-right: 0.83%;

	}




	.main-footer ul  {
		list-style: none; /* saca la voñeta de los li*/
	  margin: 0;/* saco margen*/
	  padding: 0;/* saco relleno*/
	  text-align: center; /*centra horizatalmente los li pues estos estan como display inline-block*/
	}

.main-footer li {

	display: inline-block;
	margin: 0 15px;
	}
}


	}
	.main-footer a {
		/*font-size: 17px;*/
		/*color: white;*/
		/*display: block;*/
		/*text-decoration: none;*/
		/*padding: 10px 15px;*/
		/*float: left;*/
	}

	.main-footer  {
width:auto;
height: 40px;
    background-color: #ec2d2d;

	}
}
